
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


$width-percents-30: 30%;

$height-vh-100: 100vh;
$height-pixels-400: 400px;
$height-pixels-55: 55px;

$position-top-pixels-10: 10px;
$position-top-pixels-7: 7px;

$color-blue-dark: #2c3e50;
$color-blue-primary: #17a2b8;
$color-green-light: #9fcc25;

$font-size-pixels-22: 22px;
$font-size-pixels-18: 18px;
$font-size-pixels-14: 14px;

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-blue-dark;
  min-height: $height-vh-100;
}

// applied to HomePage, LoginForm and SignUpForm

.form-container {
	width: $width-percents-30;
}

// applied to HomePage
.list-container {
    height: $height-pixels-400;
	overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.quotes-container {
	min-height: $height-pixels-400;
	margin: auto;
}
.quotes-container__item {
	min-height: $height-pixels-55;
	opacity: 0.75;
}
.quotes-container__item--icon--copy {
	color: $color-blue-primary;
}
.form-input-quote, .form-input-author, .input-searching {
	border: none;
}
.modal.fade.show {
	background: rgba(0, 0, 0, 0.6);
}
.modal-random__content--small {
	font-size: 14px;
	font-family: 'Indie Flower', cursive;
}
.modal-random__content {
    font-size: 18px;
	font-family: 'Indie Flower', cursive;
}
.modal-random__author {
	font-size: 15px;
}
.quotes-atribution__link {
	color: $color-green-light;
	margin-left: 4px; 
    vertical-align: middle;
}
/* classes applied for responsive web design */
.header-title--small {
	font-size: $font-size-pixels-18;
}
.quotes-container__item--quote {
	font-family: 'Indie Flower', cursive;
	font-size: $font-size-pixels-22;
}
.modal-delete__content {
  font-size: $font-size-pixels-14;
}