<template>
  <div>
    <b-container
      fluid="sm"
      :class="getFormContainerClass"
    >
      <h1 :class="getHeaderTitleClass">Hello!</h1>
      <!--Modal show random quote - small devices-->
        <b-modal
          v-if="$mq === 'mobile'"
          v-model="showRandomModal"
          size="sm"
          hide-footer title="Spark app"
        >
            <div class="d-block text-center">
              <p class="mt-3 modal-random__content--small">{{random.quote}}</p>
              <p class="text-left ml-3 modal-random__author--small"><strong>{{random.author}}</strong></p>
            </div>
            <b-row>
              <b-col cols="4"></b-col>
              <b-col cols="3">
                <b-button
                  @click="saveRandomQuote(random)"
                  variant="dark"
                  class="ml-2"
                >
                  Save
                </b-button>
              </b-col>
              <b-col cols="3">
                <b-button
                  @click="randomQuoteCloseModal"
                  variant="dark"
                  class="ml-2"
                >
                  Dismiss
                </b-button>
              </b-col>
            </b-row>
        </b-modal>
        <!--Modal show random quotes - bigger devices-->
        <b-modal
          v-else
          v-model="showRandomModal"
          id="random-quote-modal"
          hide-footer title="Spark app"
        >
            <div class="d-block text-center">
              <div v-if="loading">
                <pacman-loader :loading="loading" :color="color" :size="size"></pacman-loader>
              </div>
              <div v-else>
                <p class="mt-3 modal-random__content">"{{random.quote}}"</p>
                <p class="text-left ml-3 modal-random__author"><strong>{{random.author}}</strong></p>
              </div>
            </div>
            <b-row>
              <b-col cols="4"></b-col>
              <b-col cols="3">
                <b-button
                  @click="randomQuoteCloseModal"
                  variant="dark"
                  class="ml-4"
                >
                  Dismiss
                </b-button>
              </b-col>
              <b-col cols="5">
                <b-button
                  @click="saveRandomQuote(random)"
                  variant="info"
                >
                  Save to my list
                </b-button>
              </b-col>
            </b-row>
        </b-modal>
      <!--Add quote form-->
      <b-form @submit.prevent>
        <b-input
          v-model.trim="quote"
          placeholder="Your brilliant quote"
          class="form-input-quote shadow bg-white rounded p-3 mb-3"
        />
        <b-input
          v-model.trim="author"
          placeholder="Author"
          class="form-input-author shadow bg-white rounded p-3 mb-3"
        />
        <b-button
          @click="addQuote"
          block variant="info"
          class="button">
            <i class="fas fa-plus mr-2"></i>
            Add
        </b-button>
      </b-form>
      <!--Searching field-->
      <b-row class="align-items-center">
        <b-col>
          <i
            v-if="$mq === 'desktop' || $mq === 'laptop'"
            class="fas fa-search fa-3x mt-5">
          </i>
          <i v-else class="fas fa-search fa-lg mt-5 ml-3"></i>
        </b-col>
        <b-col cols="10">
          <b-input
            v-model.trim="keywords"
            placeholder="Search by keyword"
            class="mt-5 input-searching shadow p-3 bg-white rounded" />
        </b-col>
      </b-row>
    </b-container>

    <!--Quotes list-->
    <text-highlight :queries="keywords">
    <b-container class="list-container mt-5">
    <b-list-group :class="getQuotesContainerClass">
      <b-list-group-item
        v-for="quote in filteredQuotesList"
        :key="quote.id"
        button
        class="quotes-container__item mb-3 shadow-sm p-3 bg-white rounded"
      >
        <!--Quote displayed in bigger devices-->
        <b-row
          v-if="$mq === 'desktop' || $mq === 'laptop'"
          class="justify-content-between align-items-center"
        >
          <b-col
            cols="10"
            class="ml-2"
          >
            <strong>{{ quote.author }}</strong> - "<span class="quotes-container__item--quote">{{ quote.quote}}"</span>
          </b-col>
          <b-col>
            <b-button
              @click="copyQuote(quote)"
              variant="light"
              class="ml-4"
            >
              <i class="fas fa-copy fa-lg quotes-container__item--icon--copy"></i>
            </b-button>
          </b-col>
          <b-col
            @click="deleteQuoteShowModal(quote.id)"
            id="show-btn"
          >
            <i class="fas fa-trash fa-lg mr-2"></i>
          </b-col>
        </b-row>
        <!--Quote displayed in small devices-->
        <b-container v-else>
          <p><strong>{{ quote.author }}</strong> - "{{ quote.quote}}"</p>
          <p
            @click="deleteQuoteShowModal(quote.id)"
            class="text-right">
              <i class="fas fa-trash"></i>
          </p>
        </b-container>
        <!--Modal delete quote - small devices-->
        <b-modal
          v-if="$mq === 'mobile'"
          size="sm"
          :id="quote.id"
          hide-footer title="Spark app"
        >
            <div class="d-block text-center">
              <h5 class="mb-5 mt-3 modal-delete__content">Are you sure you want to delete the quote?</h5>
            </div>
            <b-row>
              <b-col cols="4"></b-col>
              <b-col cols="3">
                <b-button
                  @click="deleteQuoteCloseModal(quote.id)"
                  variant="info"
                >
                  Cancel
                </b-button>
              </b-col>
              <b-col cols="3">
                <b-button
                  @click="deleteQuote(quote.id)"
                  variant="dark"
                  class="ml-2"
                >
                  Delete
                </b-button>
              </b-col>
            </b-row>
        </b-modal>
        <!--Modal delete quote - bigger devices-->
        <b-modal
          v-else
          :id="quote.id"
          hide-footer title="Spark app"
        >
            <div class="d-block text-center">
              <h5 class="mb-5 mt-3">Are you sure you want to delete the quote?</h5>
            </div>
            <b-row>
              <b-col cols="6"></b-col>
              <b-col cols="3">
                <b-button
                  @click="deleteQuoteCloseModal(quote.id)"
                  variant="info"
                  class="ml-4"
                >
                  Cancel
                </b-button>
              </b-col>
              <b-col cols="3">
                <b-button
                  @click="deleteQuote(quote.id)"
                  variant="dark"
                >
                  Delete
                </b-button>
              </b-col>
            </b-row>
        </b-modal>
      </b-list-group-item>
    </b-list-group>
  </b-container>
  </text-highlight>
  <b-container class="mt-5 pb-3">
  <span>
    <img
      src="http://api.paperquotes.com/static/images/paperquotes.png"
      height="20"
      width="20"
      alt="paperquotes.com"
    />
    <a
      href="http://paperquotes.com"
      title="Powered by quotes from paperquotes.com"
      class="quotes-atribution__link"
    >
      paperquotes.com
    </a>
  </span>
  </b-container>
  </div>
</template>

<script>

import dbAPI from '../api/db/dbCalls'
import quotesAPI from '../api/services/paper-quotes/quotesCalls'
import PacmanLoader from 'vue-spinner/src/PacmanLoader.vue'

export default {
  name: 'HomePage',

  components: {
    PacmanLoader
  },

  data () {
    return {
      loading: true,
      color: '#17a2b8',
      size: '23px',
      quote: '',
      random: '',
      author: '',
      quotes: [],
      quoteAddedFlag: false,
      quoteDeletedFlag: false,
      keywords: '',
      showRandomModal: false,
      loggedUser: ''
    }
  },

  created () {
    this.getRandomQuote()
    this.fetchQuotes()
    this.loggedUser = this.$store.state.loggedUser
  },

  mounted () {
    this.showRandomModal = true
  },

  computed: {
    filteredQuotesList () {
      let i, j
      let keys = [...this.keywords.trim().split(' ')]
      let keysLength = keys.length
      let quotesLength = this.quotes.length
      let filteredQuotes = new Set()

      // divide keywords into single keys and filter quotes by these keys
      for (i = 0; i < keysLength; i++) {
        for (j = 0; j < quotesLength; j++) {
          if (this.quotes[j].quote.toLowerCase().includes(keys[i]) || this.quotes[j].author.toLowerCase().includes(keys[i].toLowerCase())) {
            filteredQuotes.add(this.quotes[j])
          }
        }
      }

      return filteredQuotes
    },
    getFormContainerClass () {
      if (this.$mq === 'desktop' || this.$mq === 'laptop' || this.$mq === 'tablet') {
        return 'form-container mt-5'
      }
    },
    getHeaderTitleClass () {
      if (this.$mq === 'mobile' || this.$mq === 'tablet') {
        return 'header-title--small mt-4'
      }
    },
    getQuotesContainerClass () {
      if (this.$mq === 'desktop' || this.$mq === 'laptop' || this.$mq === 'tablet') {
        return 'quotes-container'
      } else {
        return 'mt-4 ml-3 mr-3'
      }
    }
  },

  methods: {
    getRandomQuote () {
      let self = this
      let url, i
      let tags = ''
      let userCategories = this.$store.state.categories
      let userCategoriesLength = userCategories.length
      // create url if users chose some quotes categories/ else random
      for (i = 0; i < userCategoriesLength; i++) {
        tags = tags + userCategories[i] + ','
      }
      url = 'https://api.paperquotes.com/apiv1/quotes/?lang=en&tags=' + tags + '&random=random&order=?&limit=25'

      quotesAPI.getRandomQuote(url)
        .then((result) => {
          let randomQuote = result.results[Math.floor(Math.random() * result.results.length)]
          if (!randomQuote.author) {
            randomQuote.author = 'Anonymous'
          }
          self.random = randomQuote
          this.loading = false
        })
    },
    saveRandomQuote (random) {
      this.quote = random.quote
      this.author = random.author
      this.addQuote()
      this.randomQuoteCloseModal()
    },
    copyQuote (quote) {
      let copied = quote.quote + '.' + '\n' + '(' + quote.author + ')'
      this.$clipboard(copied)
      alert('Quote copied to clipboard!')
    },
    deleteQuoteShowModal (quoteId) {
      this.$root.$emit('bv::show::modal', quoteId)
    },
    deleteQuoteCloseModal (quoteId) {
      this.$root.$emit('bv::hide::modal', quoteId)
    },
    randomQuoteCloseModal () {
      this.$root.$emit('bv::hide::modal', 'random-quote-modal')
    },
    deleteQuote (quoteId) {
      this.quoteDeletedFlag = false
      let self = this

      dbAPI.deleteQuote(quoteId, this.$store.state.loggedUser.uid)
        .then(function () {
          self.quoteDeletedFlag = true
          self.show = !self.show
        })
        .catch(function (error) {
          console.error(error)
        })
    },
    addQuote () {
      this.quoteAddedFlag = false
      let self = this

      dbAPI.addQuote(this.quote, this.author, this.$store.state.loggedUser.uid)
        .then(() => {
          self.quoteAddedFlag = true
          self.quote = ''
          self.author = ''
        }).catch((error) => {
          console.log(error)
        })
      this.keywords = ''
    },
    capitalizeNames (author) {
      let splitAuthor = author.toLowerCase().split(' ')
      let splitAuthorLength = splitAuthor.length
      let i
      for (i = 0; i < splitAuthorLength; i++) {
        splitAuthor[i] = splitAuthor[i].charAt(0).toUpperCase() + splitAuthor[i].substring(1)
      }

      return splitAuthor.join(' ')
    },
    fetchQuotes () {
      let self = this
      this.quotes = []
      dbAPI.fetchQuotes(this.$store.state.loggedUser.uid)
        .then(response => {
          response.forEach(doc => {
            let author
            // check if author is anonymous
            doc.data().author === '' ? author = 'anonymous' : author = doc.data().author
            // capitalize author's name and surname
            author = self.capitalizeNames(author)
            // push all the quotes to quotes array
            this.quotes.push({'id': doc.id, 'author': author, 'quote': doc.data().quote})
          })
        })
        .catch(error => {
          console.log(error)
        })
    }
  },

  watch: {
    quoteAddedFlag () {
      this.fetchQuotes()
    },
    quoteDeletedFlag () {
      this.fetchQuotes()
    }
  }
}
</script>
