<template>
  <div>
    <b-container
      fluid="sm"
      :class="getFormContainerClass"
    >
      <b-form @submit.prevent>
        <h1 :class="getHeaderTitleClass">Welcome Back</h1>
        <!--email-->
        <b-input
          v-model.trim="email"
          type="text"
          placeholder="example@email.com"
          class="mb-3 form-input-email"
        />
        <p v-if="!$v.email.required" class="text-left">* required </p>
        <p v-if="!$v.email.email" class="text-left">* incorrect email format </p>
        <!--password-->
        <b-input
          v-model.trim="password"
          class="mb-3 form-input-password"
          type="password"
          placeholder="*******"
        />
        <p v-if="!$v.password.required" class="text-left">* required </p>
        <p v-if="errors.wrongPassword" class="text-left">* wrong password </p>
        <p v-if="errors.notFound" class="text-left">* user does not exist </p>
        <p v-if="errors.other" class="text-left">* Sorry, something went wrong. Please try again </p>
        <b-button
          @click="logIn"
          type="submit"
          block variant="info"
          class="button mb-3"
        >
          <i class="fas fa-sign-in-alt mr-2"></i>
          Log In
        </b-button>
        <div class="extras">
          <b-button
            @click="signUpRoute"
            block variant="dark"
            class="button"
          >
            <i class="fas fa-user-plus mr-2"></i>
            Create an Account
          </b-button>
        </div>
      </b-form>
    </b-container>
  </div>
</template>

<script>

import { required, email } from 'vuelidate/lib/validators'
import dbAPI from '../api/db/dbCalls'

export default {
  name: 'LoginForm',
  data () {
    return {
      email: '',
      password: '',
      errors: {
        notFound: false,
        wrongPassword: false,
        other: false
      }
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  computed: {
    getFormContainerClass () {
      if (this.$mq === 'desktop' || this.$mq === 'laptop' || this.$mq === 'tablet') {
        return 'form-container mt-5'
      }
    },
    getHeaderTitleClass () {
      if (this.$mq === 'mobile' || this.$mq === 'tablet') {
        return 'header-title--small mt-4'
      }
    }
  },
  methods: {
    logIn () {
      this.errors.badFormat = false
      this.errors.wrongPassword = false
      this.errors.other = false
      this.errors.notFound = false
      let self = this

      dbAPI.logIn(this.email, this.password)
        .catch(function (error) {
          switch (error.code) {
            case 'auth/wrong-password':
              self.errors.wrongPassword = true
              break
            case 'auth/user-not-found':
              self.errors.notFound = true
              break
            default:
              self.errors.other = true
          }
        })
    },
    signUpRoute () {
      this.$router.push({name: 'SignUpForm'})
    }

  }
}
</script>
