<template>
  <div>
    <b-container fluid="sm" :class="getFormContainerClass">
    <b-form @submit.prevent>
      <h1 :class="getHeaderTitleClass">Get Started</h1>
      <!--username-->
      <b-input
        v-model.trim="$v.username.$model"
        type="text"
        placeholder="username"
        id="name"
        class="mb-3 form-input-username"
      />
      <p v-if="!$v.username.required">* required </p>
      <p v-if="!$v.username.minLength">* minimum length of {{ $v.username.$params.minLength.min }} characters </p>
      <p v-if="!$v.username.minLength">* maximum length of {{ $v.username.$params.maxLength.max }} characters </p>
      <!--email-->
      <b-input
        v-model.trim="$v.email.$model"
        type="text"
        placeholder="example@email.com"
        id="email2"
        class="mb-3 form-input-email"
      />
      <p v-if="!$v.email.required">* required </p>
      <p v-if="!$v.email.email">* email format </p>
      <p v-if="!$v.email.minLength">* minimum length of {{ $v.email.$params.minLength.min }} characters </p>
      <p v-if="!$v.email.maxLength">* maximum length of {{ $v.email.$params.maxLength.max }} characters </p>
      <!--password1-->
      <b-input
        v-model.trim="$v.password1.$model"
        type="password"
        placeholder="min 6 characters"
        id="password1"
        class="mb-3 form-input-password1"
      />
      <p v-if="!$v.password1.required">* required </p>
      <p v-if="!$v.password1.minLength">* minimum length of {{ $v.password1.$params.minLength.min }} characters </p>
      <p v-if="!$v.password1.maxLength">* maximum length of {{ $v.password1.$params.maxLength.max }} characters </p>
      <!--password2-->
      <b-input
        v-model.trim="$v.password2.$model"
        type="password"
        placeholder="confirm password"
        id="password2"
        class="mb-3 form-input-password2"
      />
      <p v-if="!$v.password2.sameAsPassword">* must match password </p>
      <p v-if="errors"> Please correct errors and try again </p>
      <b-button
        @click="signUp"
        type="submit"
        block variant="info"
        class="button mb-3"
      >
        <i class="fas fa-user-plus mr-2"></i>
        Sign Up
      </b-button>
      <div>
        <b-button
          @click="loginRoute"
          variant="dark"
          block
        >
            Back to Log In
        </b-button>
      </div>
    </b-form>
    </b-container>
  </div>

</template>

<script>

import { required, minLength, maxLength, sameAs, email } from 'vuelidate/lib/validators'
import dbAPI from '../api/db/dbCalls'

export default {
  name: 'SignUpForm',

  data () {
    return {
      username: '',
      email: '',
      password1: '',
      password2: '',
      errors: false
    }
  },
  validations: {
    username: {
      required,
      maxLength: maxLength(64),
      minLength: minLength(4)
    },
    email: {
      required,
      email,
      maxLength: maxLength(254),
      minLength: minLength(5)
    },
    password1: {
      required,
      minLength: minLength(8),
      maxLength: maxLength(128)
    },
    password2: {
      required,
      sameAsPassword: sameAs('password1')
    }
  },
  computed: {
    getFormContainerClass () {
      if (this.$mq === 'desktop' || this.$mq === 'laptop' || this.$mq === 'tablet') {
        return 'form-container mt-5'
      }
    },
    getHeaderTitleClass () {
      if (this.$mq === 'mobile' || this.$mq === 'tablet') {
        return 'header-title--small mt-4'
      }
    }
  },
  methods: {
    signUp () {
      !this.$v.$anyError ? dbAPI.signUp(this.email, this.password1, this.username) : this.errors = true
    },
    loginRoute () {
      this.$router.push({name: 'LoginForm'})
    }
  }
}
</script>
