<template>
    <div>
      <b-navbar
        toggleable="lg"
        type="dark"
        variant="dark"
        >
        <b-navbar-brand to="/"><i class="fas fa-home mr-2"></i>Home</b-navbar-brand>
         <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
         <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item to="/settings" class="mr-4"><i class="fas fa-user-cog mr-2"></i>Settings</b-nav-item>
            <b-nav-item to="/login" @click="logOut"><i class="fas fa-sign-out-alt mr-2"></i>Log Out</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
	</div>
</template>

<script>

import dbAPI from '../api/db/dbCalls'

export default {
  name: 'TheNavbar',
  methods: {
    logOut () {
      let self = this
      dbAPI.logOut()
        .then(function () {
          self.$router.go('/login')
        }).catch(function (error) {
          console.log(error)
        })
    }
  }
}
</script>
