<template>
  <div>
    <b-card
      header="Quotes categories"
      class="text-center"
    >
      <b-card-text>
        <b-form-group>
          <b-form-checkbox-group
            id="checkbox-group-1"
            v-model="selected"
            v-bind:options="options"
            name="flavour-1"
            disabled-field="notEnabled"
          ></b-form-checkbox-group>
          <b-button
            @click="resetCategories"
            type="submit"
            variant="dark"
            class="mt-4 mr-3"
          >
            Reset my settings
          </b-button>
          <b-button
            @click="selectCategories"
            type="submit"
            variant="info"
            class="mt-4"
          >
            Save
          </b-button>
        </b-form-group>
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
import quotesAPI from '../api/services/paper-quotes/quotesCalls'

export default {
  name: 'TheSettings',
  data () {
    return {
      selected: [],
      options: [],
      userCategories: []
    }
  },
  created () {
    this.getCategories()
    this.userCategories = this.$store.state.categories
  },
  methods: {
    getCategories () {
      const self = this
      let i

      quotesAPI.getQuotesTags()
        .then((result) => {
          let resultsLength = result.results.length
          for (i = 0; i < resultsLength; i++) {
            // disable option if it's been already chosen
            if (this.userCategories.includes(result.results[i].name)) {
              self.options.push({
                'text': result.results[i].name,
                'value': result.results[i].name,
                'notEnabled': true
              })
            } else {
              self.options.push({
                'text': result.results[i].name,
                'value': result.results[i].name
              })
            }
          }
        })
        .catch((result) => {
          console.log(result)
        })
    },
    selectCategories () {
      let i
      let selected = this.selected
      let selectedLength = this.selected.length
      for (i = 0; i < selectedLength; i++) {
        this.$store.commit('setCategories', selected[i])
      }
      this.$router.go()
    },
    resetCategories () {
      this.$store.commit('resetCategories')
      this.$router.go()
    }
  }
}
</script>
