<template>
  <div id="app" :style="{'background-image': 'url(' + require('../static/images/rsz_bkg1.jpg') + ')'}">
    <Navbar />
    <router-view/>
  </div>
</template>

<script>
import Navbar from './components/TheNavbar'

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style lang="scss">
@import './assets/scss/main.scss';
</style>
